body, html{
margin:0px;
padding:0px;
color:#369;
height:100%;
}
#wrapper_all{
background:#000 url("nc12100.jpg") no-repeat;
height:100%;
}
#title{
padding:10px;
background-color:#FFF;
opacity:0.5;
margin:0px;
}
.post{
padding:5px 10px;
background-color:#FFF;
opacity:0.8;
width:70%;
margin:30px auto;
}
.post_title{
background-color:#F93;
padding:10px;
margin:0px;
font-weight:bold;
}
#copyright{
background-color:#FFF;
opacity:0.5;
text-align:center;
font-weight:bold;
}